.pokemon_box {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 180px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.box_headline {
  height: 50px;
  position: relative;
  border-radius: 8px;
}

.pokeimg_bg {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  top: -35px;
}

.pokeimg_b_img {
   opacity: 10%;
   position: relative;
   top:-20px;
   left: 90px;
   object-fit:cover;
}

.pokemon_img{
   width: 150px;
   height: 150px;
   position: relative;
   top: -150px;
   left: 100px;
}

.element_ball {
  border-radius: 20px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: azure;
}
.element_ball img {
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.poke_Name {
  display: flex;
  justify-content: center;
  position: relative;
  top: -180px;
  font-size: 20px;
  font-weight: bolder;
}

#elementContent{
   display: flex;
   justify-content: center;
   gap: 10px;
   position: relative;
   top: -160px;
}

.grass{
   background-image: linear-gradient(to right, #46d1b1 , rgb(125, 141, 136));
}

.water{
   background-image: linear-gradient(to right,#94b7d6 , rgb(61, 88, 128));
}
.fire{
   background-image: linear-gradient(to right, #f59842 , rgb(253, 71, 71));
}

.bug{
   background-image: linear-gradient(to right, rgb(72, 168, 72) , rgb(157, 197, 10));
}
.normal{
   background-color: rgb(151, 130, 7);
   background-image: linear-gradient(to right, rgb(245, 188, 83) , rgb(156, 62, 18));
}

.grass_element{
   background-color: #46d1b1;
}

.water_element{
   background-color: #3e719e;
}
.fire_element{
   background-color: #fa2a2a;
}

.bug_element{
   background-color: rgb(35, 128, 35);
}

.poison_element{background-color: rgb(60, 56, 77);
}

.flying_element{background-color: rgb(156, 208, 243);
}

.normal_element{background-color: rgb(228, 172, 89);
}


.element_content{
   display: flex
   ;
       justify-content: center;
       position: relative;
       top: -150px;

}